.app {
  margin: 0 auto;
  width: 70%;
  min-width: 350px;
}
h1,
p {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

table {
  width: 100%;
  max-width: 750px;
  margin: 10px 0;
  /* border: 1px solid gray; */
}

tr {
  border-bottom: 1px solid gray;
}
tr td {
  text-align: center;
  border-bottom: 1px solid gray;
  padding: 5px 0;
}

.submit-btn {
  margin-top: 5px;
  margin-bottom: 30px;
  padding: 5px 15px;
}
